@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  background-color: #fff;
}

.main-wrapper {
  max-width: 767px;
  width: 100%;
  margin: 0 auto;
}
